
*{
   box-sizing: border-box;
}
/*start styling header*/

header{
   background-image: url('../images/CSmJnTefxM 1.svg');
   background-repeat: no-repeat;
   background-position:100% 30px;
}
.container{
   width: 1300px;
   margin: 30px auto ;
}

.navigation{
   display: flex;
   align-items: center;
   justify-content: space-between;

}
.side-nav{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.logo{
   cursor: pointer;
}

.navbar-toggler-menu-mini{
   display: none;
}
.hamburger{
   display: none;
}
.navbar-toggler-menu{
   display: flex;
   justify-content: space-between;
}  
.navbar-toggler-menu li{
   list-style-type: none;  
   margin-right: 15px;  
}

.navbar-toggler-menu li a{
   text-decoration: none;
   justify-content: center;
   font size: 16px;
   vertical align: top;
   opacity: 60%;
   color: #150C01;
   width: 50px;
   transition: all .5s ease-out;
}

.navbar-toggler-show{
   display: block;
}

.navbar-toggler-menu li a:hover {
   opacity: 1;
   border-bottom: 1px solid red !important;
   color: #150C01;
}

.nav  .active-menu{
   opacity: 1;
   color: #DC780B;
}

.hamburger:hover{
   cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.button button{
   background-color: #DC780B;
   padding: 13px 30px;
   border-radius:5px;
   transition: all .5s ease-out;
   margin-right: 10px;
   color: #fff;
}

.button button:hover,
.header-content-btn:hover,
.about-us_text button:hover,
.content-message button:hover{
   cursor: pointer;
   background-color: #fff;
   color: #150C01;
   border: 1px solid red;
}

.header-title {
   font-size: 48.83px;
   line-height: 57.6px;
   vertical align: Top;
   color: #150C01;
   width: 555px;
   padding-top: 174px;
}

.content-link{
   padding-top: 50px;
}
.header-content p{
   font-style: Medium;
   font-size: 16px;
   line-height: 24px;
   align: Left;
   opacity: 70%;
   width :555px;
   height :43px;
   padding: 20px 0 50px 0;
}

.header-content-btn{
   width: 158px;
   height: 60px;
   background: #DC780B;
   border-radius: 5px;
   border: 0;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;   
   color: #fff;
   margin-right: 30px;
   transition: all .5s ease-out;
}

.header-content-link{
   color: #DC780B;
   text-decoration: none;
   padding: 20px 40px;
   border: 1.5px solid  rgba(220, 120, 11,0.1);
   box-sizing: border-box;
   border-radius: 5px;
   transition: all .5s ease-out;
}
.header-content-link:hover{
   cursor: pointer;
   background-color: #DC780B;
   color: #fff;
   border: 0;
}

/*toggle menu*/

.navbar-toggler-menu-mini{
   top: 80px;
   width: 100%;
   position: absolute;
   margin: 0;
   background-color: #000; 
   padding-right: 10px;
}
.navbar-toggler-menu-mini li{
   list-style-type: none;
   cursor: pointer;
   padding: 0;
   display: flex;
   color: #fff;
}
.navbar-toggle-menu-mini li span{
   transition: all 5s ease-out;

}
.navbar-toggler-menu-mini li:hover{
   color: gold;
}
.navbar-toggler-menu-mini li:hover a{
   color: gold;
}
.navbar-toggler-menu-mini li a{
   text-decoration: none;
   padding: 5px;
   width: 100%;
   color: #fff;
   display: inline-block;
}
/*end of header styling*/

/*start of content features styling */

.features{
   background-image: url('../images/Vector 3.svg');
   background-repeat: no-repeat;
   background-position:0 550px;
   padding: 50px   auto;
}

.link{
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #DC780B;
   opacity: 0.7;
   margin: 115px auto 7px;
}

.content-top-text{
   padding-bottom: 100px;
}

.content-top-text h3{
   font-style: normal;
   font-weight: bold;
   font-size: 31.25px;
   line-height: 35px;
   text-align: center;
   text-transform: capitalize;
   color: #150C01;
}

.content-trinity{
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: center;
}

.trinity{
   text-align: center;
   padding: 0;
   margin: 0;
   border-radius: 10% ;
   text-align: center;
}

.trinity-1{
   background-image: url('../images/Ellipse 1.svg');
}

.trinity-2{
   background-image: url('../images/Ellipse 1.svg');
}
.trinity-3{
   background-image: url('../images/Ellipse 1.svg');
}

.trinity-1,.trinity-2,.trinity-3{
  padding: 50px;
  background-repeat: no-repeat;
  text-align: center;
  background-position: 152px 32px;
}

.quality-food{
   width: 30%;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.quality-food h4{
   padding-top: 33px;
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   line-height: 24px;
   text-align: center;
}

.quality-food p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #150C01;
  opacity: 0.7;
}

.content-images img{
   border-radius: 5px;
   cursor: pointer;
}

.about-us{
   display: flex;
}
.about-us .about-us-content{
   justify-content: flex-end;
   width: 50%;
   padding: 108px 100px;
}
.about-us_text h4{
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   display: flex;
   align-items: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #DC780B;
   opacity: 0.7;
   margin: 0;
   padding: 0;
}

.about-us_text h2{
   font-style: normal;
   font-weight: bold;
   font-size: 31.25px;
   line-height: 41px;
   color: #150C01;
   margin: 10px auto 10px;
}
.about-us_text p{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #150C01;
   opacity: 0.7;
   margin: 10px auto 30px;
}  
.about-us_text button{
   width: 142px;
   height: 42px;
   left: 803px;
   top: 1637.73px;
   background: #DC780B;
   border-radius: 5px;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   border: 0;
   color: #FFFFFF;
   transition: all .5s ease-out;
}

.menu-information h2{
   justify-content: center;
   font-style: normal; 
   font-weight: bold;
   font-size: 31.25px;
   line-height: 24px;
   display: flex;
   align-items: center;
   color: #150C01;
}
.menu-text{
   width: 748px;
   height: 64px;
   margin: 10px auto;   
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   align-items: center;
   text-align: center;
   color: #150C01;
   opacity: 0.7;
   justify-content: center;
}
.food-menu{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   grid-row-gap:35px;
} 

.food-box{
   width: 30%;
   background: #FFFFFF;
   border: 1px solid rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
   border-radius: 75px 10px 10px 10px;
   padding-bottom: 25px;
}
.food-img{
   cursor: pointer;
   overflow: hidden;
}
.food-img img{
   width: 450px;
   border-radius: 75px 10px 75px 0px;
   transition: all .5s ease-out
}
.food-img:hover img{
 transform: scale(1.2);
}

.food-name{
   align-items: center;
   padding: 7px 25px ;
}
.food-name-sum{
   align-items: center;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 10px;
}
.food-name-sum h3{
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   align-items: center;
   color: #150C01;
   margin: 0;
}
.food-name-sum span{
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   line-height: 24px;
   align-items: center;
   text-align: right;
   color: #150C01;
}
.food-name p{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   display: flex;
   align-items: center;
   color: #150C01;
   opacity: 0.7;
}
.food-add{
  display: flex; 
  align-items: center;;
  justify-content: space-between;
}
.food-add button{
   width: 36px;
   height: 34px;
   left: 175px;
   top: 2480px;
   background: #DC780B;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 25px;
   transition: all .5s ease-out;
}
.food-add button:hover{
   background: #150c01;
   cursor: pointer;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}


/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
.learn-more_link{
   width: 142px;
   height: 52px;
   border: 1px solid rgba(220, 120, 11, 0.1);
   box-sizing: border-box;
   margin: 50px auto 187px; 
   border-radius: 5px;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 15px;
   transition: all .5s ease-out;
}
.learn-more_link a{
   font-weight: 500;
   font-style: normal;
   font-size: 16px;
   text-decoration: none;
   color: #DC780B;
}
.learn-more_link:hover{
   cursor: pointer;
   background-color: #150c01;
}
.learn-more_link:hover a{
   color: #fff;
}



/*start of food-network*/

.food-network{
   position: relative;
   width: 100%;
   background: rgba(251, 241, 231, .7);
   height: 518px;
   padding: 100px;
}
.food-network{
   display: flex;
}
.network-dicription{
   width: 555px;
   height: 275px;
}
.network-dicription  h4{
   margin: 10px;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   display: flex;
   align-items: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #DC780B;
}
.network-dicription h3{
   margin:  10px 0;
   font-style: normal;
   font-weight: bold;
   font-size: 31.25px;
   line-height: 41px;
   color: #150C01;
}
.network-dicription p{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   color: #150C01;
   opacity: 0.7;
}
.app-iso-link{
   align-items: center;
   display: flex;
}
.app-iso-link button {
   margin: 10px 40px 0 0;
   align-items: center;
}
.app-iso-link .apple {
   background: #150C01;
   border-radius: 5px;
   display: flex;
   transition: background .5s ease-out;
   align-items: center;
   justify-content: center;
   padding: 10px 30px;
}
.app-iso-link .google {
   border: 1.5px solid rgba(21, 12, 1, 0.1);
   box-sizing: border-box;
   border-radius: 5px;
   display: flex;
   align-items: center;
   transition: background .5s ease-out;
   padding: 10px 30px;
}

.apple p{
   padding: 0;
   margin: 0;
   display: flex;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   color: #FFFFFF;
   transition: all .5s ease-out;
   margin-left: 10px;
}

.google p{
   padding: 0;
   margin: 0;
   display: flex;
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   display: flex;
   color: #150C01;
   transition: all .5s ease-out;
   margin-left: 10px;
}  
.apple:hover{
   background: #fff;
   cursor: pointer;
}
.apple:hover p{
   color: #150c01;
}
.google:hover{
   background: #150c01;
   cursor: pointer;
}
.google:hover p{
   color: #fff
}
.mobile-app{
   position: relative;
}
.mobile-app img{
   position: absolute;
   left: 800px;
   top: -450px;
   border-radius: 50px;
}



/*start of .features styling*/

.testimonial{
   text-align: center;
   justify-content: center;
   margin-top: 213px;
}

.testimonial-information h5{
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   align-items: center;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #DC780B;
   opacity: 0.7;

}
.testimonial-information h1{
   font-style: normal;
   font-weight: bold;
   font-size: 31.25px;
   line-height: 24px;
   align-items: center;
   color: #000000;
}
.testimonial-information p{
   width: 650px;
   margin: 0 auto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #000000;
   opacity: 0.7;
   padding-bottom: 70px;
}
.testimonial-img{
   padding: 72px auto;
   margin-bottom: 40px;
}
.vector-img{
  width: 113.46px;
  height: 83.48px;
  opacity: 1;
}
.img-woman{
   width: 50px;
   height: 50px;
   position: relative;
   background-image: url('../images/rbUCqO2zGk 1@2x.svg');
   background-repeat: no-repeat;
   top:0px; left: -60px;
   border-radius: 50%;
}
.testimonial-information {
   margin-bottom: 100px;
}

.testimonial-information h4{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 10px;
   color: #000000;
   margin-bottom: 10px;
}
.testimonial-information p{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #000000;
}




.contact{
   width: 100%;
   height: 500px;
   background: rgba(220, 120, 11, .1);
   margin: 0 auto;
   text-align: center;
   margin-bottom: -30px;
}

.contact .container{
   width: 100%;
   height: 500px;
   padding: 0 !important;
   margin: 0;
}
.contact-list{
   padding: 0;
   margin: 0 auto;
   width: 750px;
   height: 216px;
   text-align: center;
   justify-content: center;
}
.contact-list h5  {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   align-items: center;
   text-align: center;
   letter-spacing: 0.2em;
   text-transform: uppercase;
   color: #DC780B;
   padding: 0;
   margin: 0;
}
.contact-list h3{
   font-style: normal;
   font-weight: bold;
   font-size: 31.25px;
   line-height: 41px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #150C01;
   padding: 0;
   margin: 0;
}
.content-message{
   justify-content: space-between;
   display: flex;
   margin-top: 40px;
   align-items: center;
}
.content-message form{
   display: flex;
   padding-bottom: 100px;
}
.content-message  input{
   width: 750px;
   height: 75px;
   background: #FFFFFF;
   border-radius: 10px 0 0 10px;
   align-items: center;
   margin-right: -100px;
   border: 0;
}
::placeholder{
   align-items: center;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 41px;
   align-items: center;
   color: #000000;
   opacity: 0.5;
   padding-left: 20px;
}
.message-input{
   align-items: center;
   font-size: 25px;
}
.content-message  button{
   width: 156px;
   height: 75px;
   background: #DC780B;
   border-radius: 0 10px 10px 0;
   border: none;
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 41px;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
   transition: all .5s ease-out;
}
.content-message button:hover{
   background: #150c01;
   border: 1px solid black;
   color: #fff;
   opacity: 1;
}


/* footer */
footer{
   margin: 0;
   overflow: 0;
   width: 100%;
   height: 429px;
   background: #252525;
}
.footer-content{
   display: flex;
   padding-top: 100px;
   justify-content: space-around;
}
.footer-row-one{
   align-items: center;
}
.footer-row-one img{
   width: 61px;
   height: 60px;
}
.footer-link li{
   list-style-type: none;
   padding: 10px;
}
.footer-row-one li a{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 16px;
   text-decoration: none;
   color: #FFFFFF;
   opacity: 0.7;
}
.footer-mini{
   display: none;
}
.active{
   font-style: normal !important;
   font-weight: bold !important;
   font-size: 18px !important;
   line-height: 20px !important;
   color: #FFFFFF !important;
   opacity: 1 !important;
}
.social-network{
   display: flex;
}
.social-network img{
   margin-right: 10px;
   width: 21px;
   height: 21px;
}



img {
 max-width: 100%;
}













*{
   box-sizing: border-box;
}

*,
:active,
:focus {
   outline: none;

}

body{
   padding: 0;
   margin: 0;
   background-color: #fff  ;
   -webkit-transition: all 0.4s ease;
   -moz-transition: all 0.4s ease;
   -ms-transition: all 0.4s ease;
   -o-transition: all 0.4s ease;
} 


a {
  color: inherit;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  text-decoration: none;
}



section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
}

img {
  max-width: 100%;
}

*,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin-top: 0;
  padding-top: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

button,
button:focus,
.btn.focus,
.btn:focus,
.form-control,
.form-control:focus {
  outline: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

